.container {
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  gap:40px;
  display: flex;
  flex-direction: column;
}

.section {
  margin-top: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 16px;
}

.line {
  width: 100%;
  height: 1px;
  background: #ddd;
  margin: 8px 0;
}

.addFamilyBtn {
  background: none;
  color: #4c4cff;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.footerButtons {
  display: flex;
  gap:10px;
  justify-content: center;
  margin-top: 24px;
}

.backBtn,
.nextBtn {
  padding: 8px 24px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.backBtn {
  background: #f5f5f5;
  color: #333;
}

.nextBtn {
  background: #9c8df0;
  color: white;
}


