/* .title_header {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.header_title {
  color: #2d2d2d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.red_dot {
  height: 15px;
  width: 15px;
}
.green_dot {
  height: 15px;
  width: 15px;
}

.dots_container {
  display: flex;
  flex-direction: row;
  padding: 8px 10px;
  align-items: center;
  gap: 12px;
}

.dot_part {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.dot_part p {
  color: #718EBF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
} */


/* ---------- Accordion Header ---------- */
.title_header {
  display: flex;
  align-items: center;
  gap: 6px;
}

.title_header figure {
  /* margin: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_right {
  display: flex;
  flex-direction: column;
}

.header_title {
  font-size: 15px;
  font-weight: 600;
  color: #2f2f2f;
  margin: 0;
}

/* ---------- Accordion Base Styles ---------- */
.MuiAccordion-root {
  border-radius: 10px;
  border: 1px solid #e6e4f0;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(9px);
  box-shadow: none;
}

.MuiAccordion-root.Mui-expanded {
  border: 1px solid #b4bcff;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.14), 0 0 2px rgba(0, 0, 0, 0.12);
}

/* .MuiAccordionSummary-root {
  padding: 12px 18px;
} */

