.main_content{
  margin-left:17%;
  margin-top:54px;
  width:100%;
  padding: 10px;
 
}

.whole_container {
  display:flex;
  flex-direction: row;
  background-color: #f6f8f9;
  flex:1;
}

aside {
  position: fixed;
  width: 17%;
  border-right: 1px solid #e5e9eb;
  background: #fff;
  z-index: 499;
  height:100vh;
  overflow-y: auto;
  scrollbar-width: none;      
  -ms-overflow-style: none;
}

aside::-webkit-scrollbar {
   display: none;               
}